{% extends "skeleton.html" %}
{% block content %}
    <div id="dvInnerContents">
        <div id="dvSpecificActions" class="clsMenu">
                <a href="/manage_characters?story_id={{story.key.urlsafe()}}">
                    <img width="24px" height="24px" title="back" class="styled-button" src="/res/back.svg"/>
                </a>
        </div>
        <div id="dvTitle">
            <p>Delete character</p>
        </div>
        <div id="dvBody">
        <form   id="frmDeleteCharacter"
                action="/characters/delete?story_id={{story.key.urlsafe()}}&character_id={{character.key.urlsafe()}}"
                method="post">
            <p>
                {% include "character_description.html" %}
                {% if character.summary %}
                    <br><i>{{character.summary}}</i>
                {% endif %}
            </p>
            <div id="dvWarning">
                <img height="24px" height="24px" src="/res/warning.svg" title="warning" alt="warning">
                &nbsp;Once deleted, a character cannot be retrieved.
            </div>
            <input type="image"
                        width="16px" height="16px"
                        class="styled-button" src="/res/delete.svg"
                        title="delete" alt="delete"
                        onSubmit="javascript: document.frmDeleteCharacter.submit()"
                    />
        </form>
        </div>
    </div>
{% endblock %}
