{% extends "skeleton.html" %}
{% block content %}
    <div id="dvInnerContents">
        <div id="dvSpecificActions" class="clsMenu">
                <a href="/manage_chapters?story_id={{story.key.urlsafe()}}">
                    <img width="24px" height="24px" title="back" class="styled-button" src="/res/back.svg"/>
                </a>
        </div>
        <div id="dvTitle">
            <p>Delete chapter</p>
        </div>
        <div id="dvBody">
        <form   id="frmDeleteChapter"
                action="/chapters/delete?chapter_id={{chapter.key.urlsafe()}}"
                method="post">
            <p>
                {% include "chapter_description.html" %}
                {% if chapter.summary %}
                    <br><i>{{chapter.summary}}</i>
                {% endif %}
            </p>
            <div id="dvWarning">
                <img height="24px" height="24px" src="/res/warning.svg" title="warning" alt="warning">
                &nbsp;Once deleted, a chapter cannot be retrieved. All its sections will be deleted too.
            </div>
            <input type="image"
                        width="16px" height="16px"
                        class="styled-button" src="/res/delete.svg"
                        title="delete" alt="delete"
                        onSubmit="javascript: document.frmDeleteChapter.submit()"
                    />
        </form>
        </div>
    </div>
{% endblock %}
