{% extends "skeleton.html" %}
{% block content %}
<script type="text/javascript">
    window.onload = function() {
        var edText = document.getElementById( "edText" );

        edText.text_stats = { 
            "modified": false,
            "zwc": 0,
            "wc": 0,
            "cc": 0
        };

        edText.oninput = function() {
            enableSaveButton();
            edText.text_stats.modified = true;
            calculateStats();
            showStats();
        };

        disableSaveButton();
        calculateStats();
        showStats();
    };

    function disableSaveButton() {
        var btSave = document.getElementById( "btSave" );
        var dvStats = document.getElementById( "dvStats" );

        btSave.disabled = true;
        dvStats.style.color = "gray";
        edText.text_stats.zwc = calculateWordCount( edText.value );

        // Add square brackets, if needed.
        if ( btSave.alt[ 0 ] != '[' ) {
            btSave.alt = btSave.title = "[" + btSave.alt + "]";
        }

        return;
    }

    function enableSaveButton() {
        var btSave = document.getElementById( "btSave" );

        btSave.disabled = false;

        dvStats.style.color = "black";

        // Remove square brackets, if needed.
        if ( btSave.alt[ 0 ] == '[' ) {
            btSave.title = btSave.alt = btSave.alt.substring( 1, btSave.alt.length - 1 );
        }

        return;
    }

    function calculateWordCount(txt) {
        return txt.split(/[\s,]+/).length;
    }

    function calculateStats() {
        var edText = document.getElementById( "edText" );

        edText.text_stats.cc = edText.value.length;
        edText.text_stats.wc = calculateWordCount( edText.value );
    }

    function showStats() {
        var dvStats = document.getElementById( "dvStats" );
        var edText = document.getElementById( "edText" );

        dvStats.style.display = "line";
        dvStats.innerHTML = ( edText.text_stats.modified ? "MODIFIED" : "SAVED" )
                                + " Crs.: " + edText.text_stats.cc
                                + " words: " + edText.text_stats.wc
                                + " new words: " 
                                + ( edText.text_stats.wc - edText.text_stats.zwc );
    }

    function inject(txt) {
        var edText = document.getElementById( "edText" );

        if ( edText.selectionStart >= 0 ) {
            var startPos = edText.selectionStart;
            var endPos = edText.selectionEnd;

            edText.value = edText.value.substring( 0, startPos )
                + txt
                + edText.value.substring( endPos, edText.value.length );
        } else {
            edText.value += txt;
        }

        return;
    }

    function showCharacters() {
        var dvCharacters = document.getElementById( "dvCharacters" );

        if ( dvCharacters.style.display == "none" ) {
            dvCharacters.style.display = "block";
        } else {
            dvCharacters.style.display = "none";
        }
    }
    function hideError() {
        document.getElementById( "dvError" ).style.display = "none";
    }

    function showError(msg) {
        var dvError = document.getElementById( "dvError" );
        var pError = document.createElement( "p" );

        dvError.innerHTML = "";
        dvError.appendChild( pError );
        pError.appendChild( document.createTextNode( msg ) );
        dvError.style.display = "block";
    }

    function chk() {
        var toret = true;
        var edText = document.getElementById( "edText" );
        var btSave = document.getElementById( "btSave" );

        hideError();

        // Check everything that could be wrong
        if ( edText.value.trim().length == 0 ) {
            showError( "The text is mandatory." );
            toret = false;
        }

        // Check whether to disable the save button or not
        if ( toret ) {
            disableSaveButton();
            status.modified = false;
        }

        return toret;
    }
</script>
<div id="dvInnerContents">
    <div id="dvSpecificActions" class="clsMenu">
        <a href="/manage_sections?chapter_id={{chapter.key.urlsafe()}}">
            <img width="24px" height="24px" alt="back" title="back" class="styled-button" src="/res/back.svg"/>
        </a>
    </div>
    <div id="dvTitle">
    <p><img height="32px" width="32px" title="sections" src="/res/section.svg"/>
        Modify Section #{{section.num}} of <i>{{story.title}}: {{chapter.title}}</i></p>
    </div>
    <div id="dvBody">
    <p>
    <form id="frmModifySection"
        onsubmit="javascript: return chk();"
        action="/sections/modify?section_id={{section.key.urlsafe()}}" method="post">
        <p>
        <b><label for="edText">Contents</label></b>
        <textarea name="text" id="edText" placeholder="Write some text..."
                rows="25" cols="80"
                style="border:none;background-color:lightgray">{{section.text}}</textarea>
        <br/>
        <p>
        <input id="btSave" type="image"
            class="styled-button"
            title="modify" alt="modify"
            width="16px" height="16px" src="/res/modify.svg"
            onsubmit="javascript: document.frmModifySection.submit()"/>
         &nbsp;&nbsp;<span id="dvStats"></span>
        </p>
    </form>
    </div>
    <a href="javascript: showCharacters()">
        <img class="styled-button" width="16px" height="16px" src="/res/character.svg"/>
    </a>
    <div id="dvCharacters" style="display: none">
        <ul>
        {%  for character in characters %}
            <li><div id="dvCharacterReferenceEntry">
                <b><a href="#" onclick="javascript: inject('{{character.name}}')">
                {{character.name}}</b></a>: <i>{{character.summary[:120]}}...</i>
            </div></li>
        {%  endfor %}
        </ul>
    </div>
    <div id="dvError">
    </div>
</div>
{% endblock %}
