{% extends "skeleton.html" %}
{% block content %}
<script type="text/javascript">
    function hideError() {
        document.getElementById( "dvError" ).style.display = "none";
    }

    function showError(msg) {
        var dvError = document.getElementById( "dvError" );
        var pError = document.createElement( "p" );

        dvError.innerHTML = "";
        dvError.appendChild( pError );
        pError.appendChild( document.createTextNode( msg ) );
        dvError.style.display = "block";
    }

    function chk() {
        var toret = true;
        var edName = document.getElementById( "edName" );
        var edSummary = document.getElementById( "edSummary" );

        hideError();

        if ( edName.value.trim().length == 0 ) {
            showError( "The title is mandatory." );
            toret = false;
        }

        return toret;
    }
</script>
<div id="dvInnerContents">
    <div id="dvSpecificActions" class="clsMenu">
        <a href="/manage_characters?story_id={{story.key.urlsafe()}}">
            <img width="24px" height="24px" alt="back" title="back" class="styled-button" src="/res/back.svg"/>
        </a>
    </div>
    <div id="dvTitle">
    <p>Modify Character</p>
    </div>
    <div id="dvBody">
    <p>
    <form id="frmModifyCharacter"
        onsubmit="javascript: return chk();"
        action="/characters/modify?character_id={{character.key.urlsafe()}}"
        method="post">
        <p>
        <b><label for="edName">Title</label></b> <input type="text" name="name" id="edName" size="80"
                value="{{character.name}}"
                style="border:none;background-color:lightgray"/>
        <br/>
        <b><label for="edSummary">Summary</label></b>
        <textarea name="summary" id="edSummary" placeholder="Write some text..."
                rows="10" cols="80"
                style="border:none;background-color:lightgray">{{character.summary}}</textarea>
        <br/>
        <p>
        <input type="image"
            class="styled-button"
            title="modify" alt="modify"
            width="16px" height="16px" src="/res/modify.svg"
            onsubmit="javascript: document.frmModifyCharacter.submit()"/>
        </p>
    </form>
    </div>
    <div id="dvError">
    </div>
</div>
{% endblock %}
