#dvHeader {
  margin: 1px;
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
  color: white;
  background-color: #040a35;
  font-size: 14pt
}

#dvTitle {
  margin: 5px;
  background-color: black;
  color: white;
  font-size: 14pt
}

#dvStories {
  margin: 20px;
  padding: 20px;
}

#tblStories {
  background-color: lightgray;
  font-size:12pt;
}

#dvError {
  display: none;
  color: white;
  background-color: red;
  margin: 20px;
  padding: 10px;
  font-size: 16pt;
  font-weight: bold;
}

#dvWarning {
  color: black;
  background-color: yellow;
  margin: 20px;
  padding: 10px;
  font-size: 16pt;
  font-weight: bold;
}

#dvSpecificActions {
  margin: 5px;
  background-color: black;
  font-weight: bolder;
  font-size: 10pt
}

#dvGeneralActions {
  margin: 5px;
  background-color: #040a35;
  font-weight: bolder;
  font-size: 10pt
}

input.button {
  background-color: black;
  color: blue
}

/* Hyperlinks */
a {
	color: blue;
	text-decoration:none;
}

a:hover {
	color: darkblue;
	text-decoration:none
}

a:visited {
	color: blue;
	text-decoration:none
}

/* Buttons */
.styled-button {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding:5px 5px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}
